# {{ ansible_managed }}

[Unit]
Description=Zookeeper Service

[Service]
Type=forking
User={{ kafka_user }}
Group={{ kafka_group }}
WorkingDirectory={{ kafka_zookeeper_data_path }}
ExecStart={{ bin_path }}/{{ kafka_zookeeper_server_start_command }} -daemon {{ kafka_conf_path }}/{{ kafka_zookeeper_config_file }}
ExecStop={{ bin_path }}/{{ kafka_zookeeper_server_stop_command }}
Restart=no
TimeoutSec=20

[Install]
WantedBy=multi-user.target
